[user]
	name = trenega
	email = takashiniijima213@gmail.com
[core]
	excludesFile = /Users/nis/.gitignore_global
	autocrlf = input
	editor = nvim -c \"set fenc=utf-8\"
	pager = less -cm
        quotepath = false
[push]
	default = simple
[color]
        status = auto
        diff = auto
        branch = auto
        interactive = auto
        grep = auto
        ui = auto
[gui]
	recentrepo = /Users/nis/pl/git/LearnGitMoL/ch05/newrepo
	fontui = -family \"Ricty Diminished Discord\" -size 18 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Ricty Diminished Discord\" -size 18 -weight normal -slant roman -underline 0 -overstrike 0
	recentrepo = /Users/nis/pl/git/LearnGitMoL/ch11/math.clone2
	recentrepo = /Users/nis/pl/git/LearnGitMoL/ch12/math2.github
	recentrepo = /Users/nis/pl/git/LearnGitMoL/06/math
	recentrepo = /Users/nis/pl/git/LearnGitMoL/05/newrepo
[alias]
        hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
        llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
        loo = log --oneline
        ; open = "!hub browse"

[hub]
        protocol = https

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/nis/.commit_template
